/* Button */
.btn-sign-in-up {
    padding: var(--padding-056) var(--padding-12);
    background-color: var(--btn-primary-color);
    color: var(--root-color);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    border-radius: 0.25em;
  }