@use "sass:map";
@use "sass:meta";
@use '../abstracts' as a;

/* 
  https://www.youtube.com/watch?v=SLjHSVwXYq4
  https://www.reddit.com/r/css/comments/14f9o5l/using_bem_in_2023/
*/


/// =============================================================================
/// Skeleton Structure
/// =============================================================================

/// @name skeleton-wrapper
/// @group Layout
/// 
/// This is our core, an grid that has 3 rows and 1 colum. This is where we also
/// We are using an mixin to create the grid and functions that create an list
///
.skeleton-wrapper {
  @include a.grid-row-colum(grid, a.create-list(1fr), 3, a.$display-type, a.create-list(auto, 2fr, auto));
  height: 100dvh;
  margin: 0 auto;
  /* https://sass-lang.com/documentation/style-rules/declarations/ */
  font-family: #{meta.inspect(a.$font-family)};
}

/// =============================================================================
/// Header & Navigation
/// =============================================================================
.header {
  /// Activate Container Query Properties for header-wrapper
  @include a.container-query-wrapper(header);

  font-weight: map-get($map: a.$font-weight, $key: 'SemiBold');
  /// Content Width
  @include a.content-width(map-get($map: a.$max-content-width, $key: 'desktop'),
    map-get($map: a.$content-width-percentage, $key: 'full-width'));
  display: map-get($map: a.$display-type, $key: 'flex');
  align-items: center;
  height: 4.75rem;
  
  &__logo{
    padding-right: map-get($map: a.$spacing-distance, $key: 's-3-31');
  }



  /// Menu Navigation
  &__menu {
    /// Spacing flex more :D
    flex: 1;

    /// Navigation Items
    &__navigation{
      @include a.flex(center);
      list-style-type: none;
      color: map-get($map: a.$links-color, $key: 'link-nav');
      font-size:map-get($map: a.$font-sizes, $key: 't-m');
    }
  }

  &__theme-btn-access{
    /// Added this to align with same height
    @include a.flex(center);
    /// Adding some padding to span element
    &__text-span{
      padding-right: map-get($map: a.$spacing-distance, $key: 's-1-1');
      color: a.$font-color-primary;
      font-size:map-get($map: a.$font-sizes, $key: 't-m');
      font-weight: map-get($map: a.$font-weight, $key: 'Bold');
    }

    /// Some padding Dark-mode switch
    /// Magic Number rofl!
    &__toggle {
      padding-left: map-get($map: a.$spacing-distance, $key: 's-1-1');
      line-height: 1.4em;
    }

    /// Theme Switcher Padding
    &__btn-sign-in-up {
      /// Some hack, took the slider distance (Theme switcher) + Padding to Sign in Button
      /// From the Switch and got 76ox
      margin-left: 1.875em;
    }
  }
}




/// =============================================================================
/// Main Area
/// =============================================================================
.main-wrapper {
  /// Activate Container Query Properties for main-wrapper
  @include a.container-query-wrapper(main);

  /// Content Width
  .content-container {
    @include a.content-width(map-get($map: a.$max-content-width, $key: 'desktop'),
      map-get($map: a.$content-width-percentage, $key: 'full-width'))
  }
}



/// Background Gradient for Header and Promotion
.gradient-container {
  // Get full width from content-width map
  width: map-get($map: a.$content-width-percentage, $key: 'full-width');

  // Radial gradient background
  // Creates a subtle color transition from purple to pink to almost white
  background: radial-gradient(125% 125% at 50% 110%,
      rgba(99, 102, 241, 0.1) 0%,
      rgba(218, 70, 239, 0.05) 42%,
      rgba(241, 244, 253, 0.07) 83%);
}


/// =============================================================================
/// Footer Area
/// =============================================================================
.footer-wrapper {
  /// Activate Container Query Properties for main-wrapper
  @include a.container-query-wrapper(main);

  /// Content Width
  .content-container {
    @include a.content-width(map-get($map: a.$max-content-width, $key: 'desktop'),
      map-get($map: a.$content-width-percentage, $key: 'full-width'))
  }
}