/* Fonts */
/* Font Colors */
$font-color-primary: #565973;
$font-color-secondary: #0b0f19;
$font-color-text: #585c7b;
$font-color-label: #131022;
/* Fonts END */



// =============================================================================
// Fonts
// =============================================================================
/* https://sass-lang.com/documentation/style-rules/declarations/ */

/// 
/// Manrope
$font-family: "Manrope", sans-serif;
$font-location-url: url("/src/assets/fonts/Manrope/Manrope-VariableFont_wght.ttf");
$font-primary-style: normal;
$font-optical-sizing: auto;
$font-weight:(
    'ExtraLight': 200,
    'Light': 300,
    'Medium': 500,
    'SemiBold': 600,
    'Bold': 700,
    'ExtraBold': 800
);

/// @name links-color
/// Specifying Colors for all links in the website
/// @type Map
/// @group Layout
/// @example code-scss
///   .element {
///     font-color: map-get($map: $links-color, $key: 'link-nav');
///   }
$links-color:(
    'link-nav' : #33354D
);


/// @name links-color
/// Specifying Colors for all links in the website
/// @type Map
/// @group Layout
/// @example code-scss
///   .element {
///     font-color: map-get($map: $links-color, $key: 'link-nav');
///   }
$font-family:(
    'link-nav' : #33354D
);








// =============================================================================
// Layout
// =============================================================================

/// @name content-width-percentage
/// @group Utilities
/// Description of the variable
/// @type number
/// @access public
/// @example code-scss
///   .element {
///      width: map-get($map: $content-width, $key: 'full-width');
///   }
$content-width-percentage: (
    'full-width': 100%,
    'half-width': 50%
);


/// @name display-type
/// Map of display types for consistent usage across the project
/// @type Map
/// @group Layout
/// @access public
/// @example code-scss
///   .element {
///      display: map-get($map: $display-type, $key: 'flex');
///   }
$display-type: (
    'flex': flex,
    'grid': grid,
    'none': none
);


/// @name breakpoints
/// Map of breakpoints regarding responsive
/// @type Map
/// @group Layout
/// @example code-scss
///   .element {
///     media (min-width: display: map-get($map: $breakpoints, $key: 'medium')){
///         background-color: red;
///     }
$breakpoints: (
    'medium': 768px,
    'xlarge': 1200px
);


/// @name max-content
/// Max content width values depending on device
/// @type Map
/// @group Layout
/// @example code-scss
///   .element {
///     max-width: map-get($map: $max-content-width, $key: 'desktop');
///   }
$max-content-width: (
    'desktop': 81.25rem,
    'tablet': 48rem,
    'mobile': 24.375rem
);

/// @name gaps
/// Maps for different gaps size based on the layout
/// @type Map
/// @group Layout
/// @example code-scss
///   .element {
///     gap: map-get($map: $gaps, $key: 'g-3-1');
///   }
$gaps:(
    'g-3-1': 3.125em
);