.vertical-center {
  align-items: center;
}

/* Header */
/* Menu */
.main-menu {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.mobile-menu {
  display: none;
}
.main-menu li a {
  font-family: "Manrope", sans-serif;
  text-decoration: none;
  color: #33354d;
}

.main-menu li a:hover {
  color: #6366f1;
  transition: cubic-bezier(1, 0, 0, 1);
}

.main-menu li a:active {
  color: #33354d;
}

/* Dark Mode Switch */
.dark-mode-switch {
  width: 8.9375em;
}
/* Header End* /

/* Form Elements */

/* Label */
.dark-mode-switch label {
  font-family: "Manrope", sans-serif;
  color: #565973;
}

/* Button */
.btn-sign-in-up {
  width: 8.75em;
  height: 2.25em;
  background-color: #6366f1;
  border-radius: 0.5dvh;
  color: white;
}

/* Buttons Promotion & Banner Content */

.inline-block img {
  height: auto;
}

/* Links */

.text-decoration-none {
  text-decoration: none;
}

/* Form Elements End *


/* Images  */
.img-store-apps {
  width: 22.9rem;
  height: 3.150625rem;
}
/* Images End */

/* Other Fancy Stuff */
.primary-background-color {
  background-color: white;
}
/* Other Fancy Stuff END */

/* Responsive Design */
/* Header */
@container header (width < 1300px) {
  .mobile-menu {
    display: block;
  }
  .dark-mode-switch {
    width: 8.86625em;
  }
}
@container header (width < 768px) {
  .mobile-menu {
    display: block;
  }
  .dark-mode-switch label {
    display: none;
  }
  .dark-mode-switch {
    width: 2.875em;
  }
}

/* Banner & Promotion */
@container main (width < 1300px) {
}
@container main (width < 768px) {
}

/* Responsive Design END */
