/* Lets import some vars */
@import url(/assets/css/vars.css);

/* Font For the menu*/
@font-face {
  font-family: var(--font-family);
  src: var(--font-location-url);
  font-optical-sizing: var(--font-optical-sizing);
  font-weight: var(--font-semi);
  font-style: var(--font-style-primary);
}

.font-color-text {
  color: var(--font-text-color);
}

.font-color-heading-text {
  color: var(--font-secondary);
}

.extra-bold {
  font-weight: var(--font-extra-bold);
}

.font-regular {
  font-weight: var(--font-regular);
}

.font-semi {
  font-weight: var(--font-semi);
}

/* Text */
p,
span {
  font-family: var(--font-family);
}

.text-center {
  text-align: center;
}

/* Title's Headers */
h1 {
  font-size: var(--font-size-h1);
}
h2 {
  font-size: var(--font-size-h2);
}
h3 {
  font-size: var(--font-size-h3);
}
h4 {
  font-size: var(--font-size-h4);
}
h5 {
  font-size: var(--font-size-h5);
}
h6 {
  font-size: var(--font-size-h6);
}

/* Font Sizes */
.font-size-standard {
  font-size: var(--font-size-primary);
}

.promo-size-text-a {
  font-size: var(--font-size-promotion-l);
}

.promo-size-text-b {
  font-size: var(--font-size-promotion-xl);
}

.font-size-regular {
  font-size: var(--font-size-text);
}

.font-link-small {
  font-size: var(--font-size-link-xsm);
}

/* Forms */
.label-header {
  color: var(--font-label-color);
}
