@import url(/assets/css/vars.css);

/* Main Layout */

/* Base */
.gradient-container {
  width: 100%;
  background: radial-gradient(
    125% 125% at 50% 110%,
    rgba(99, 102, 241, 0.1) 0%,
    rgba(218, 70, 239, 0.05) 42%,
    rgba(241, 244, 253, 0.07) 83%
  );
}

/* Header & Navigation */
.flex-header {
  justify-content: space-between;
  max-width: var(--max-content-width);
  margin: 0 auto;
}

/* Main Layout END*/

/* Responsive CSS */

/* Wrappers */
.header-wrapper {
  container-type: inline-size;
  container-name: header;
}

/* Break Points */
@container header (width < 390px) {
  .flex-header {
    padding: var(--padding-052);
  }
  .navigation,
  .label-text {
    display: none;
  }
  .fa-lg {
    line-height: 0em;
    vertical-align: -0.135em;
    padding-right: var(--padding-11);
  }
  .dark-mode-switch {
    padding-right: var(--padding-12);
  }
}
@container header ( 390px < width < 768px) {
  .dark-mode-switch {
    padding-right: var(--padding-4);
  }
  .fa-lg {
    line-height: 0em;
    vertical-align: -0.135em;
    padding-right: var(--padding-19);
  }
  .navigation {
    display: none;
  }
}

/* Responsive CSS END*/
