.container {
  /* With 100% is fallback incase we are using older browsers. Code is 
    being readd from top to bottom in CSS
    */
  width: 100%;
  width: 100dvw;
}

.container-half {
  min-width: 50%;
  min-height: 50dvw;
}

/* Header Container Height */
.container-header {
  min-height: 4.75rem;
  position: relative;
}

/* Footer Container Height */
.container-footer {
  min-height: 8.125rem;
}
/* Footer Container Height */
.container-banner {
  min-height: 54.75rem;
}

.background-grey {
  background-color: cadetblue;
}

.background-red {
  background-color: rgb(204, 83, 164);
}

.background-blue {
  background-color: rgb(142, 103, 184);
}

/* GRID Layout */
.grid {
  display: grid;
  grid-area: "header-content";
  grid-template-rows: auto 1fr auto;
}

/* FLEX Layout */
.flex-center {
  justify-content: center;
}

.flex-right-horizontal {
  justify-content: flex-end;
}
/* 40px Gap */
.flex-gap-sm-a {
  /* Same as REM Parent Container in Pixel / 16 */
  gap: 2.5em;
}

/* 40px Gap */
.flex-gap-sm-b {
  /* Same as REM Parent Container in Pixel / 16 */
  gap: 1.875em;
}

.header-content-flex {
  display: flex;
  flex-direction: row;
  min-height: 4.75rem;
}

.flex-box {
  width: 40.625rem;
}

/* Responsive Design */
@media (width < 300px) {
  body {
    background-color: blue;
  }
}
/* Responsive Design END */
