@import url(/assets/css/vars.css);
/* Layout */

/* Flex */
.flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.fa-i-c {
  align-items: center;
}

.text-center {
  text-align: center;
}
